*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
    color:white;

}
button{

    background-color: aqua;
    background-size: cover;

}
button:hover{
    color:black;
    background-color: chartreuse;
    font-size: 2rem;
    transition: size 2s ease-in;
}
